button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	font-size: 80%;
	color: $color__action;
	text-decoration: none;
	padding: 0.5em 0.8em;
	background: none;
	border: 2px solid $color__action;
	cursor: pointer;
	&:hover,
	&:focus,
	&:active {
		background: $color__action;
		color: white;
	}
}