.wp-caption {
	margin-bottom: 1.5em;
	max-width: 100%;
	font-size: 80%;
	font-weight: lighter;
	opacity: 0.8;
	img[class*="wp-image-"] {
		@include center-block;
	}
	.wp-caption-text {
		margin: 0.8075em 0;
	}
	a {
		@extend .entry-content;
	}
}

.wp-caption-text {
	text-align: center;
}